body {
  background-color: pink;
}

hr {
  background-color: white;
}
 

hr {
  height: 3px;
}

h1 {
  color: #66BFBF
}

H3 {
  color: #66BFBF
}


/********************** CLASS SELECTOR****************/
.Brinquedos {
  background-color: gold;
}
.emoji:hover {
  background-color: green;
}
